
.e-attr{
    text-align: center;
}


.border{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.size-label-numero{
    width: 85px !important;
}

.size-label-tipos{
    width: 160px !important;
}

.size-imput-numero{
    width: 85px !important;
}
.size-label-fecha{
  width: 73px !important;
}

.size-imput-fecha{
    width: 145px !important;
}

.size-imput-turno{
  width: 35px !important;
}

.size-label-turno{
  width: 73px !important;
}

.size-imput-tipo{
  width: 310px !important;
}

.size-label-tipo{
  width: 85px !important;
}

.size-imput-asiento{
  width: 102px !important;
}

.size-label-asiento{
  width: 95px !important;
}

.size-imput-concepto{
  width: 380px !important;
}

.size-totalCuentas{
  width: 120px !important;
}

.size-totaldebe{
  width: 170px !important;
}

.size-totalhaber{
  width: 170px !important;
}

.size-diferencia{
  width: 200px;
}


.size-label-diferencia{
  width: 120px !important;
}

.size-imput-diferencia{
  width: 120px !important;
}


.size-numero{
  width: 180px;
}

.size-fecha{
  width: 205px;
}
.size-moneda{
  width: 318px;
}

.size-button{
  height: 31px;
  width: 30px;
}

.size-check{
  height: 20px;
}

.size-tipo{
  width: 290px;
}

.size-asiento{
  width: 160px;
}

.size-concepto{
  width: 490px;
}

.size-opciones{
  width: 180px;
}

.size-usuarios{
  width: 240px;
}

.visibility{
  display: none;
}

.size-input-proveedorCodigo{
  width: 70px;
}

.size-input-proveedorNombre{
  width: 250px;
}

.disabled{
  pointer-events: none;
}