<div class="row-fluid justify-content-center ">
    <div class="col-md-10 offset-md-1">
        <div class="card shadow bg-light">
            <div class="card-header text-align-center">
                <input style="width: 150px; height: 31px;" (keydown)="searchKeyDown($event)" class="form-control float-start" placeholder="Buscar" [(ngModel)]="searchValue">

                <button class="btn btn-secondary btn-sm float-start"  (click)="search()" data-bs-toggle="tooltip" data-bs-placement="top" title="Buscar"> 
                    <i class="fa fa-search"></i>
                </button>

                Conceptos de Caja

                <button class="btn btn-success btn-sm mr-1  float-end"  (click)="exportar()" data-bs-toggle="tooltip" data-bs-placement="top" title="Exportar a Excel"> 
                    <i class="fa fa-file-excel"></i>
                </button>
                <button class="btn btn-secondary btn-sm mr-1 float-end "  (click)="printUsuarios()" data-bs-toggle="tooltip" data-bs-placement="top" title="Imprimir"> 
                    <i class="fa fa-print"></i>
                </button>
                <button class="btn btn-danger btn-sm mr-1 float-end " (click)="home()" data-bs-toggle="tooltip" data-bs-placement="top" title="Salir"> 
                    <i class="fa fa-sign-out-alt"></i>
                </button>

                <button class="btn btn-danger btn-sm mr-1 float-end " (click)="trash()" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar"> 
                    <i class="fa fa-trash"></i>
                </button>

                <button class="btn btn-primary btn-sm mr-1 float-end " (click)="new()" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar"> 
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            
            <div class="row">
                <ag-grid-angular
                    style="width: 100%; height: calc(100vh - 105px)"
                    class="ag-theme-alpine"
                    [rowData]="conceptos"
                    [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef"
                    (gridReady)="onGridReady($event)"
                    [rowHeight]="25"
                    rowSelection='single'
                    (selectionChanged)="onSelectionChanged($event)"
                    colResizeDefault="shift"
                    (cellDoubleClicked)="edit()">
                </ag-grid-angular>
            </div>
            
        
        </div>
    </div>
</div>

<ng-template #modal let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-align-center">{{ getModalTitle() }}</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
  
    <div class="modal-body p-3">
        <form [formGroup]="datosForm">
            <div class="row mb-2">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">Código</span>
                        <input type="text" class="form-control" formControlName="codigo">                    
                    </div>
                </div>
    
                <div class="col-md-9" >
                    <div class="input-group">
                        <span class="input-group-text">Descripción</span>
                        <input type="text" class="form-control" formControlName="descripcion">
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text">Cuenta</span>
                        <input (keydown)="cuentaKeyDown($event)" type="text" class="form-control" formControlName="cuenta">                    
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text">Nombre</span>
                        <input type="text" class="form-control disabled" formControlName="nombreCuenta">                    
                    </div>
                </div>
    
                <div class="col-md-2">
                    <input type="checkbox" class="mr-1" formControlName="estado"> Inactivo
                </div>
            </div>
    
        </form>
        
    </div>
  
    <div class="modal-footer">
        <button (click)="save(); modal.close('Save click');" class="btn btn-primary btn-size mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Guardar"> 
            <i class="fa fa-save"></i>
        </button>
        <button (click)="modal.close('Save click')" class="btn btn-danger btn-size mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Salir"> 
            <i class="fa fa-sign-out-alt"></i>
        </button>
    </div>
  
</ng-template>

<div  id="print_conceptos_caja" class="visibility">
        
    <div class="row text-align-right">
        <strong>Fecha Emisión: {{fechaEmision | date: 'dd/MM/yyyy'}}</strong> 
    </div>
    <br>
    
    <div class="text-align-center ">
        <strong>Conceptos de Caja </strong>
    </div>
    <br>
    <div class="">
        <table class="table border">
            <thead class="border">
                <tr>
                    <th class="border">Código</th>
                    <th class="border">Moneda</th>
                    <th class="border">N° Tarjeta</th>
                    <th class="border">Vencimiento</th>

                </tr>
            </thead>
            <tbody>             
                <tr *ngFor="let c of dataPrint">
                    <td class="border font">{{c.codigo}}</td>
                    <td class="border font">{{c.descripcion}}</td>
                    <td class="border font">{{c.cuenta}}</td>
                    <td class="border font">{{c.estado == 0 ? '' : 'Check'}}</td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>